Repository DevAdriam/nest_bdd_boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color, eslint

.lintstagedrc:

{
  "{src,test}/**/*.ts": ["prettier --write", "eslint --fix --color", "eslint"],
  "*.json": ["prettier --write"]
}

feat(auth) : jwt set up
  .eslintrc.js
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/application/user/user.service.ts
  src/common/constants/jwt-constants.ts
  src/common/types/type.ts
  src/domain/user/user.repository.interface.ts
  src/domain/user/user.repository.ts
  src/infrastructure/auth/strategy/jwt-strategy.ts
Due: prettier --write, eslint --fix --color, eslint

perf(repo) : user repo dbservice to databaseService
  src/domain/user/user.repository.ts
Due: prettier --write, eslint --fix --color, eslint

feat(ci) : github actions
  .github/workflows/action.yaml
Due: none

refactor(yaml) : ci
  .github/workflows/action.yaml
Due: none

test
  .lintstagedrc
  src/common/constants/custom-errorcode.ts
Due: prettier --write, eslint --fix --color, eslint

refactor(app) :eslint errors
  .eslintrc.js
  .lintstagedrc
  src/application/auth/auth.service.ts
  src/application/user/user.module.ts
  src/common/utils/extract-feature-from-path.ts
  src/core/filters/http-exception.filter.ts
  src/infrastructure/database/prisma.service.ts
  src/main.ts
  src/presentation/controllers/auth.controller.ts
  src/presentation/controllers/user.controller.ts
  src/presentation/presentation.module.ts
  tsconfig.json
Due: prettier --write, eslint --fix --color, eslint

feat(app) : implement login
  .eslintrc.js
  .github/workflows/action.yaml
  package.json
  pnpm-lock.yaml
  src/application/auth/auth.module.ts
  src/application/auth/auth.service.ts
  src/application/auth/dto/login.dto.ts
  src/application/user/user.module.ts
  src/application/user/user.service.ts
  src/common/service/hash.service.ts
  src/core/middleware/logger.middleware.ts
  src/core/middleware/middleware.ts
  src/domain/user/user.entity.ts
  src/infrastructure/config/env.config.ts
  src/infrastructure/mail/mail.service.ts
  src/infrastructure/storage/storage.service.ts
  src/infrastructure/third-party/axios.ts
  src/main.ts
  src/presentation/controllers/auth.controller.ts
Due: prettier --write, eslint --fix --color, eslint

feat(env) : implement env config
  src/core/filters/http-exception.filter.ts
  src/infrastructure/auth/guard/auth.guard.ts
  src/infrastructure/config/env.config.ts
  src/main.ts
Due: prettier --write, eslint --fix --color, eslint

feat(infra) :implement mail service
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/application/auth/auth.service.ts
  src/application/auth/dto/register.dto.ts
  src/common/constants/jwt-constants.ts
  src/core/filters/http-exception.filter.ts
  src/infrastructure/auth/strategy/jwt-strategy.ts
  src/infrastructure/config/config.module.ts
  src/infrastructure/config/env.config.ts
  src/infrastructure/mail/mail.module.ts
  src/infrastructure/mail/mail.service.ts
  src/infrastructure/mail/templates/verify.ts
  src/main.ts
Due: prettier --write, eslint --fix --color, eslint

refactor(config) : config service
  src/app.module.ts
  src/application/auth/auth.service.ts
  src/application/auth/dto/register.dto.ts
  src/application/user/user.service.ts
  src/common/service/hash.service.ts
  src/core/filters/http-exception.filter.ts
Due: prettier --write, eslint --fix --color, eslint

feat(auth) : implement login
  .env.example
  src/app.module.ts
  src/application/auth/auth.module.ts
  src/application/auth/auth.service.ts
  src/common/decorators/user.decorator.ts
  src/common/types/type.ts
  src/domain/user/user.entity.ts
  src/domain/user/user.repository.ts
  src/infrastructure/auth/guard/auth.guard.ts
  src/infrastructure/auth/guard/jwt.guard.ts
  src/infrastructure/auth/strategy/jwt-strategy.ts
  src/infrastructure/config/swagger.config.ts
  src/infrastructure/mail/mail.service.ts
  src/main.ts
  src/presentation/controllers/auth.controller.ts
Due: prettier --write, eslint --fix --color, eslint

feat(exception) : implement exception filters
  src/app.module.ts
  src/application/auth/auth.service.ts
  src/common/constants/custom-errorcode.ts
  src/core/exceptions/business/invalid-user.exception.ts
  src/core/exceptions/business/token-expire.exception.ts
  src/core/filters/all-exception.filter.ts
  src/core/filters/business/invalid-user-exception.filter.ts
  src/core/filters/http/bad-request-exception.filter.ts
  src/core/filters/http/forbidden-exception.filter.ts
  src/core/filters/http/http-exception.filter.ts
  src/core/filters/http/not-found-exception.filter.ts
  src/core/filters/http/unauthorized-exception.filter.ts
  src/core/filters/validation.exception.ts
  src/core/middleware/logger.middleware.ts
  src/core/middleware/middleware.ts
  src/infrastructure/mail/mail.service.ts
  src/infrastructure/mail/templates/otp-verify.ts
  src/main.ts
Due: prettier --write, eslint --fix --color, eslint

feat(app): add commit-msg hook
  .husky/commit-msg
Due: none

feat(app): add commitlint config file
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(infra): implement pagination decorator
  .husky/commit-msg
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
  src/common/decorators/pagination.decorator.ts
  src/common/types/type.ts
Due: prettier --write, eslint --fix --color, eslint

feat(app): add pre-push hook
  .husky/pre-push
Due: none

feat(infra): implement response interceptor
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/common/types/type.ts
  src/core/interceptors/response.interceptor.ts
  src/core/pipes/id-validation.pipe.ts
  src/infrastructure/auth/strategy/google.strategy.ts
  src/infrastructure/config/env.config.ts
  src/presentation/controllers/app.controller.ts
  src/presentation/controllers/auth.controller.ts
  src/presentation/controllers/user.controller.ts
Due: prettier --write, eslint --fix --color, eslint

feat(auth): implement google Oauth
  src/application/auth/auth.module.ts
  src/common/types/type.ts
  src/infrastructure/auth/guard/google.guard.ts
  src/infrastructure/auth/strategy/google.strategy.ts
  src/infrastructure/config/env.config.ts
  src/main.ts
  src/presentation/controllers/auth.controller.ts
Due: prettier --write, eslint --fix --color, eslint

feat(infra): add README file
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write
